[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .pytest_cache,
    htmlcov,
    .coverage,
    coverage.xml,
    area_cache,
    .github
ignore = 
    E203,
    E501,
    W503,
    F401
per-file-ignores =
    __init__.py:F401
    tests/*:S101
max-complexity = 10
select = E,W,F,C